{% load static %}
<!-- Footer Start -->

<footer style="display: flex; flex-wrap: wrap; justify-content: space-between; padding: 20px; background-color: rgb(66, 31, 223); color: #fff;">
    <div class="footer-col" style="flex: 1; margin: 10px; min-width: 200px;">
        <h3 style="font-size: 18px; margin-bottom: 10px; color: orange">Our Services</h3>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">Installation</li>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">Home Solutions</li>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">Air Conditioning</li>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">Repair & Maintenance</li>
    </div>
    <div class="footer-col" style="flex: 1; margin: 10px; min-width: 200px;">
        <h3 style="font-size: 18px; margin-bottom: 10px; color: orange;">Quick Links</h3>
        <li style="list-style: none; margin-bottom: 5px;">
            <a href="http://127.0.0.1:8000/userhire/" style="text-decoration: none; color: #fff;">Hire</a>
        </li>
        <li style="list-style: none; margin-bottom: 5px;">
            <a href="http://127.0.0.1:8000/login" style="text-decoration: none; color: #fff;">Admin Login</a>
        </li>
        <li style="list-style: none; margin-bottom: 5px;">
            <a href="http://127.0.0.1:8000/dashboard/signup/" style="text-decoration: none; color: #fff;">Tech SignUp/Login</a>
        </li>
        <li style="list-style: none; margin-bottom: 5px;">
            <a href="http://127.0.0.1:8000/" style="text-decoration: none; color: #fff;">Home</a>
        </li>
    </div>
    <div class="footer-col" style="flex: 1; margin: 10px; min-width: 200px;">
        <h3 style="font-size: 18px; margin-bottom: 10px; color: orange;">Contact Us</h3>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">Tel: +256 787091223</li>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">Kireka, Kamuli Road</li>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">www.coolmax.ltd</li>
        <li style="list-style: none; margin-bottom: 5px; color: #fff">info@coolmax.ltd</li>
    </div>
    
    <div class="footer-col" style="flex: 1; margin: 10px; min-width: 200px;">
        <h3 style="font-size: 18px; margin-bottom: 10px; color: orange">Newsletter</h3>
        <p style="font-size: 14px; margin-bottom: 10px; color: #fff">You can trust us. We only send promo offers.</p>
        <div class="subscribe" style="display: flex;">
            <input type="text" placeholder="Your Email address" style="padding: 8px; flex: 1; border: none; border-radius: 5px;">
            <a href="jakaowen17@gmail.com" style="padding: 8px 12px; background-color: orange; color: #333; text-decoration: none; border-radius: 5px; margin-left: 5px;">SUBSCRIBE</a>
        </div>
    </div>
    
    <div class="copyright" style="width: 100%; text-align: center; padding: 10px; margin-top: 20px; background-color: #222;">
        <p style="margin-bottom: 10px; ">Copyright &copy; 2024 All rights reserved | By Coolmax Ltd +256 787091223 / 0333 772 1490</p>
    </div>
</footer>

<!-- Add responsive CSS -->
<style>
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-col {
        min-width: 100%;
        text-align: center;
    }
}
@media (max-width: 480px) {
    footer {
        padding: 10px;
    }
    .subscribe input {
        width: 100%;
        margin-bottom: 10px;
    }
    .subscribe a {
        width: 100%;
        text-align: center;
    }
}
</style>

<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>