{% load static %}
<!-- Topbar Start -->
<div class="container-fluid border-bottom wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            {% for i in page %}
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>{{i.address}}</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="fa fa-envelope me-3"></small>
                <small>{{i.email}}</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>{{i.mobilenumber}}</small> {% endfor %}
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href="https://www.facebook.com/profile.php?id=100072158532225"><i
                        class="fab fa-facebook-f"></i></a>
                <!--
                        <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i
                        class="fab fa-twitter"></i></a>
                -->        
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href="https://www.linkedin.com/in/owendev-979b77254/"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href="https://www.youtube.com/channel/UCM9riE5MW3Rrdlh6ML165rw"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top wow fadeIn" data-wow-delay="0.1s">
    <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="media/profile_pic/favicon.jpeg" alt="Coolmax Logo" style="height: 40px; width: auto; margin-right: 10px;">
        <!--<h1 class="m-0 text-primary"></i>COOLMAX</h1>-->
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
            <a href="{% url 'techSignup' %}" class="nav-item nav-link">Tech SignUp</a>
            <a href="{% url 'user_search_hire' %}" class="nav-item nav-link">Search Hire</a>
        </div>
        <a href="{% url 'hire' %}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Hire<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->